.contact{
  background-color: #f8f9fa;
  padding: 7rem 2rem;
} 

.contact-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.text-container{
  width: 500px;
  display:flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-heading{
  font-size: 2rem;
  color: var(--primary);
}
.contact-description{
  color: var(--text);
}

/* Contenedor del formulario */
.contact-form {
  position: relative;
  width: auto;
  background-color: white;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  box-shadow: 4px 4px 20px 10px rgba(39, 32, 145, 0.1);
  border-radius: 15px;
}

 /* Grupo de cada campo del formulario */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

/* Etiqueta del campo */
.form-group label {
  font-family: Jost, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--title-primary);
}
/* Campos de texto (Nombre, Correo) */
.form-input {
  width: auto;
  font-size: 1.2rem;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Efecto al enfocar campos de texto */
.form-input:focus {
  border-color: var(--primary); /* Color principal */
  outline: none;
  box-shadow: 0 0 4px var(--primary);
}

/* Botón del formulario */
.button.button-primary.form-submit{
  font-size: 0.9rem;
  margin: auto;
  width: 10rem;
}


  

/* Contenedor principal del input telefónico */
.react-tel-input {
  display: flex;
  }
  
  /* Selector de país */
  .react-tel-input .flag-dropdown {
    border-radius: 6px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Campo de entrada de número telefónico */
  .react-tel-input .form-control {
    width: auto;
    border-radius: 6px; /* Bordes redondeados */
    border: 1px solid #ddd;
    font-size: 1.2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  /* Estilo al enfocar el campo de entrada */
  .react-tel-input .form-control:focus {
    border-color: var(--primary); /* Color principal */
    outline: none;
    box-shadow: 0 0 4px var(--primary);
  }
  
  /* Estilo al enfocar el selector de país */
  .react-tel-input .flag-dropdown:focus-within {
    border-color: var(--primary); /* Color principal */
    outline: none;
    box-shadow: 0 0 4px var(--primary);
  }
  
  /* Lista desplegable de países */
  .react-tel-input .country-list {
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border: 1px solid #ddd;
  }
  
  /* Estilo de cada elemento del listado de países */
  .react-tel-input .country-list .country {
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  /* Efecto hover en el listado de países */
  .react-tel-input .country-list .country:hover {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
  }
  
 
 
  
 .form-message{
  position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
 }
  

  



  