/* Estilo general */
.services {
    background: white;
    padding: 7rem 0;
  }
  
  .services-title {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.25rem;
    color: var(--title-primary);
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
  
  .service-card {
    background: var(--white);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-icon {
    color: var(--primary);
    margin-bottom: 1rem;
  }
  
  .service-title {
    margin-bottom: 1rem;
    color: var(--title-primary);
  }
  
  .service-description {
    color: var(--title-primary);
  }
  
  /* Servicios 2 */
  .services2 {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    margin: 7rem auto;
    align-items: stretch;
    justify-content: center;
    padding: 0 3rem;
  }
  
  .service-left-card {
    text-align: center;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: span 2;
  }
  
  .service-left-card h3 {
    line-height: 2rem;
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .service-left-card p {
    padding: 0 2rem 3rem 2rem;
    color: var(--title-primary);
    text-align: justify;
  }

  .service-description{
    margin: 2rem 0;
  }
  
  .service-right-card {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--title-primary);
    color: white;
    padding: 4rem 4rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-right-card h3 {
    line-height: 1.6rem;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    font-size: 1.5rem;
  }
  
  .service-right-card p {
    margin: auto;
    max-width: 250px;
  }

  .button.button-primary.service{
    margin: auto;
  }
  
  /* Responsivo: Apila tarjetas en pantallas pequeñas */
  @media (max-width: 768px) {
    .services2 {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
    .service-icon{
      margin: 0 auto;
    }
    .service-right-card{
      padding: 2rem;
    }
    .service-right-card h3{
      width: 100%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      gap: 0;
    }
    .service-right-card p{
      text-align: center;
      line-height: 1.2;
      font-size: 1rem;
    }
    .button.button-primary.service{
      font-size: 0.8rem;
      margin: auto;
    }
  }
  

  .separator-line{
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  .line{
    border-radius: 10px;
    width: 8rem;
    background-color: var(--primary);
    height: 4px;
  }