/* Estructura general */
.testimonial-page {
  background-color: #f8f9fa;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  z-index: 1;
}

/* Fondo SVG curvo detrás del slider */
.curve-background {
  justify-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f8f9fa;
  position: absolute;
  top: 0;
  left: -50vw;
  width: 200vw;
  height: 520px;
  z-index: -1;
}

/* Carrusel */
.testimonial-carousel {
  max-width: 1200px;
  padding-bottom: 6rem;
  margin: 0 auto;
}

.testimonial-carousel h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: var(--title-primary);
  font-weight: 600;
}

.testimonial-slide {
  width: 140px;
  height: 200px;
  padding: 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.testimonial-content {
  background: white;
  border-radius: 20px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 1rem;
}

.testimonial-author {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primary);
}

.testimonial-role {
  font-size: 1rem;
  color: gray;
}

.testimonial-rating {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: var(--primary);
}

/* Dots */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 18px;
  line-height: 20px;
  opacity: 0.25;
  color: var(--primary);
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--primary);
}


@media (max-width: 768px) {
  .curve-background{
    height: 400px;
  }
  .testimonial-carousel h2 {
    font-size: 1.5rem;
  }

  .testimonial-content {
    font-size: 0.9rem;
  }
}
