.carousel-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .carousel .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 1200px;
    height: 400px; /* Altura fija para las tarjetas */
    padding: 0 1rem; /* Espaciado entre tarjetas */
    box-sizing: border-box;
  }
  
  .carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px; /* Opcional, para un diseño más moderno */
  }
  
  .carousel.carousel-slider {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .carousel .control-dots {
    position: initial;
  }
  
  .carousel .control-dots .dot {
    height: 15px;
    width: 15px;
  }
  
  .carousel .control-dots .dot.selected {
    background-color: var(--primary);
  }
  